.App{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 2rem;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.result{
    width: 100%;
    display: flex;
    justify-content: center;
}